{% extends "base.html" %}

{% block content %}
<div class="row" ng-controller="HomepageController">
    <div class="posts">
        <ul id="posts">
            <div class="post" ng-repeat="post in posts" style="padding:5px;" ng-click="postOnEach(post.id)">
                <heading ng-bind="post.title"  style="width:30%"></heading>
                <content ng-bind="post.content" style="width:50%"></content>
                <content style="width:10%;height:inherit;" ng-bind="post.num_likes"></content>
                <button style="width:10%;height:inherit;" type="submit" ng-click="like(post.id)" class='btn'>LIKE</button>
            </div>
            <!-- maybe add pagination here -->
        </ul>
        <div class="navbar-form" style="margin-left:50px;">
            <input type="text" ng-model="input_post.title">
            <input type="text" ng-model="input_post.content">
            <button ng-click="createPost(input_post.title, input_post.content)" type="submit" class="btn">Create Post</button>
        </div>
        <ul id="comment_div" style="display:none;">
            <heading><b>Comments:</b></headint>
            <div class="comment" ng-repeat="comment in comments">
                <content ng-bind="comment.content"></content>
            </div>
            <div>
                <input type="text" name="comment" ng-model="input_comment.content" style="width:66%" placeholder="say what you want to say here">
                <button ng-click="comment(input_comment.content)" type="submit" class="btn">comment</button>
            </div>
        </ul>
    </div>
    <aside class="subreddits">
        <button ng-click="sortByTitle()" type="submit">Sort by title</button>
        <button ng-click="sortByDesc()" type="submit">Sort by desc</button>
        <uib-tabset vertical="true" type="pills">
            <uib-tab heading="global" select="refreshPosts('global')"></uib-tab>
            <uib-tab heading="{[{subreddit.title}]}" select="refreshPosts(subreddit.id, subreddit.popularity)" ng-repeat="subreddit in subreddits">{[{ subreddit.description }]} has {[{ subreddit.popularity }]} post(s)  popularity: {[{subreddit.pop}]}</uib-tab>
        </uib-tabset>
        <div class="navbar-form">
            <input type="text" ng-model="input_sub.title">
            <input type="text" ng-model="input_sub.description">
            <button ng-click="createSubreddit(input_sub.title, input_sub.description)" type="submit" class="btn">Create Subreddit</button>
        </div>
    </aside>
</div>
{% endblock content %}
